.prova, .prova2{
    -fx-border-color: aliceblue;
}

.prova:hover {
    -fx-border-color: blueviolet;
}

.prova2:hover {
    -fx-border-color: deeppink;
}

.root {
    -fx-background-color: sandybrown;
}

#show, #hide, #pass, #leave, #interrupt {
    -fx-background-color: coral;
}