.try {
    -fx-border-color: aliceblue;
}

.try2 {
    -fx-border-color: blue;
}

.try:hover {
    -fx-border-color: blueviolet;
}

#pane4 {
    -fx-background-color: #D3A627;
}


#coins, #coins1 {
    -fx-background-color: yellow;
    -fx-alignment: center;
}

#woods, #woods1 {
    -fx-background-color: chocolate;
    -fx-alignment: center;
}

#stones, #stones1 {
    -fx-background-color: darkgray;
    -fx-alignment: center;
}

#servants, #servants1 {
    -fx-background-color: blueviolet;
    -fx-alignment: center;
}