.try {
    -fx-border-color: aliceblue;
}

.try:hover {
    -fx-border-color: blueviolet;
}

#pane4 {
    -fx-background-color: #D3A627;
}


#coins {
    -fx-background-color: yellow;
    -fx-alignment: center;
}

#woods {
    -fx-background-color: chocolate;
    -fx-alignment: center;
}

#stones {
    -fx-background-color: darkgray;
    -fx-alignment: center;
}

#servants {
    -fx-background-color: blueviolet;
    -fx-alignment: center;
}